{FONT_DECL}
@keyframes loading {
	0% {width:3em}
	25% {width:5em}
	65% {width:2em}
	80% {width:5em}
	100% {width:3em}
}
* {
	box-sizing:border-box;
	font-family:{FONT}, Arial;
	font-size:inherit;
}
body {
	margin:1em;
}
a {
	color:#00e;
	text-decoration:none;
}
#main {
	max-width:1000px;
	margin:auto;
}
input[type=text],button {
	appearance:none;
	-webkit-appearance:none;
	background:inherit;
	color:inherit;
	transition:all .2s ease;
	-webkit-transition:all .2s ease;
}
input[type=text] {
	width:100%;
	display:block;
	padding:1em;
	outline:0;
	border:0;
	border:2px solid;
	border-left:0;
	border-radius:0 1em 1em 0;
}
#n {
	padding:1em .5em;
	border-radius:0;
	text-align:center;
	direction:ltr;
	width:4em;
}
input[type=text]:focus {
	border-color:#00e;
}
button {
	display:block;
	outline:0;
	border-radius:1em 0 0 1em;
	padding:1em;
	background:none;
	border:2px solid;
}
button:hover {
	border-color:#00e;
}
.loading {
	height:2px;
	animation:loading 1s ease infinite;
	display:block;
	margin:1em auto;
	background:#00e;
}
#dicts div, #frm p {
	font-size:.85em;
}
#dicts input[type=checkbox] {
	margin:0;
}
#dicts label {
	padding-right:.5em;
}
#dicts {
	padding:1em 0 0;
}
header {
	margin:auto;
}
header h1 {
	cursor:pointer;
	margin:0 0 0 .5em;
	font-size:1.5em;
}
code {
	display:block;
	direction:ltr;
	font-family:{FONT}, Monospace;
	border-left:2px solid;
	padding:.5em 0 .5em 1em;
}
footer {
	padding:1em;
	text-align:left;
	max-width:1000px;
	margin:auto;
	font-size:.9em;
}
#result h2 {
	color:#00e;
	font-weight:normal;
}
#result h2 small {
	font-size:.7em;
}
#result p {
	padding-right:1.5em;
}
.dict-tag {
	background:#eee;
	padding:0 .4em;
	font-size:.9em;
	margin-right:1em;
	display:inline-block;
}
.ltr {
	direction:ltr;
	display:inline-block;
}
.fore-color {
	color:#000;
}
@media (prefers-color-scheme:dark) {
	body {
		background:#000;
		color:#fff;
	}
	a {
		color:#0e0;
	}
	input[type=text]:focus {
		border-color:#0e0;
	}
	button:hover {
		border-color:#0e0;
	}
	.loading {
		background:#0e0;
	}
	#result h2 {
		color:#0e0;
	}
	.dict-tag {
		background: #333;
	}
	.fore-color {
		color:#fff;
	}
}
